{% extends "base.html" %}

{% block title %}Account{% endblock %}

{% block content %}
    <div class="account_options">
        <ul>
            <li><a href="/change_password">Change password</a></li>
            <li><a href="/delivery_info">Change delivery informaion</a></li>
            <li><a href="/orders">Orders</a></li>
            <li><a href="/logout">Log out</a></li>
            <li><a href="/give_admin_privileges_page">Give admin privileges</a></li>
        </ul>
    </div>
    
{% endblock %}