{% extends "base.html" %}

{% block title %}Account{% endblock %}

{% block main %}
    <div class="account_options">
        <ul>
            <li><span style="font-size:1.5rem">Account Options</span></li>
            <hr class="solid-black-divider" style="margin-bottom: 20px">
            <li><a href="/change_password">Change Password</a></li>
            <li><a href="/delivery_info">Change Delivery Informaion</a></li>
            <li><a href="/orders">Orders</a></li>
            <li><a href="/contact">Contact us</a></li>
            <li><a href="/contact_it">IT Support</a></li>
            <li><a href="/logout">Log out</a></li>
            {% if session['admin'] %}<li><a style="font-size:1.2rem" href="/give_admin_privileges_page">Give Admin Privileges</a></li> {% endif %}
        </ul>
    </div>
    
{% endblock %}