<!DOCTYPE html>
<html>
    <head>

    </head>

    <body>
        <h1>Add Product</h1>
                <form method="POST">
                    <label for="name">Name:</label>
                    <input type="text" id="name" name="name"><br>

                    <label for="stock">Stock:</label>
                    <input type="number" id="stock" name="stock"><br>

                    <label for="productType">Product Type:</label>
                    <input type="text" id="productType" name="productType"><br>

                    <label for="price">Price:</label>
                    <input type="float" id="price" name="price"><br>

                    <label for="deliveryTime">Delivery Time:</label>
                    <input type="number" id="deliveryTime" name="deliveryTime"><br>

                    <label for="brand">Brand:</label>
                    <input type="text" id="brand" name="brand"><br>

                    <label for="specifications">Specifications:</label>
                    <textarea id="specifications" name="specifications"></textarea><br>

                    <label for="description">Description:</label>
                    <textarea id="description" name="description"></textarea><br>

                    <input type="submit" value="Add Product">
                </form>
            </body>
        </html>
        
    </body>
</html>
