<!DOCTYPE html>
<html lang="en">
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <!--link to css file-->
        <link href="../static/css/home-styles.css" rel="stylesheet" />
        <!--Bootstrap link-->
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    </head>
    <body>

        <div class="top-section">
            <div class="logo">
                <a href="/">
                    <img src="../static/images/wmgzon.png">
                </a>
            </div>
            <div class="delivery-details">
                <p>Deliver to:</p>
            </div>
            <div class="input-group">
                <input type="text" class="form-control" placeholder="Search WMGzon">
                <div class="input-group-append">
                  <button class="btn btn-secondary" type="button">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
                        <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001q.044.06.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1 1 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0"/>
                    </svg>
                  </button>
                </div>
            </div>
            <div class="user-actions">
                <a href="/register">Sign up</a>
                <a href="/basket">Basket</a>
            </div>
        </div>


        
        <div class="categories-section">
            <ul class="categories-list">
                <li><a href="/coming_soon">Movies</a></li>
                <li><a href="/coming_soon">Groceries</a></li>
                <li><a href="/coming_soon">Books</a></li>
                <li><a href="/electronics">Electronics</a></li>
                <li><a href="/coming_soon">Clothing</a></li>
                <li><a href="/coming_soon">Music</a></li>
            </ul>
        </div>
        {% block test %}

        {% endblock %}
    
    </body>
</html>