{% extends "base.html" %}
{% block title %}Checkout{% endblock %}
{% block main %}

<div class="checkout-main-container">
    <div class="checkout-main-container__checkout-title">
        <span>Checkout</span>
    </div>
    <div class="checkout-main-container__delivery-details">
        <span>deliver to = {{ postcode }}</span> 
        <input type="button" value="Change delivery information" onclick="window.location.href='/delivery_info'"/><br>
    </div>
    <div class="checkout-main-container__payment-details">
        <p> (no payment data needed as this is a test site) </p>
    </div>
    
    <div class="checkout-main-container__product-list">
        {% set i = namespace(value=0) %}
        {% set product_index = namespace(value=0) %}
        {% for products in products %}


        <div class="checkout-main-container__product-list__product">


            <a href="/electronics/product/{{ products[0] }}">
                {{products[14]}} x {{ products[1] }}
            </a>
            <div class="product-price">
                <span id="current_total_{{ products[0] }}">£{{ products[16] }}</span>
            </div>

            <div class="product-description">
                Arrive on {{ delivery_date[i.value] }}
                <input id="price_hidden_{{ products[0] }}" type="hidden" value="{{ products[4] }}"/>
                <input id="id_hidden_{{ products[0] }}" type="hidden" value="{{ products[0] }}"/>
                <input id="prof_installation_hidden_{{ products[0] }}" type="hidden" value="{{ products[13] }}"/>
            </div>



        </div>
        <hr class="solid-divider"/>
        {% set i.value = i.value + 1 %}
        {% endfor %}
    </div>

    <div class="checkout-main-container__checkout-info">       
        <p>total = £{{ total_basket_price }}</p>

        <form action="/order_confirmation" method="POST">
            <input type="submit" value="pay"/>
        </form>
    </div>

</div>
    

{% endblock %}

{% block js %}
    <script src=../../static/js/product-management.js></script>   
{% endblock %}
