{% extends "base.html" %}
{% block title %}Electronics{% endblock %}
{% block test %}
    <h1>electronics</h1>
{% endblock %}

{% block content %}
    <h1>Products</h1>
    <h1>
        <a href="/add_product">Add a new product</a><br>
    </h1>

    {% for product in products %}
        <li>

            <a href="/electronics/product/{{ product[0] }}">{{ product[1] }}</a> 
            <a href="/edit_product/{{ product[0] }}">(edit)</a><br>
            <img src="{{ url_for('static', filename='images/' + product[10]) }}" width="200" height="150"/>
            <br><br>
        </li>
    {% endfor %}
{% endblock %}