{% extends "base.html" %}

{% block title %}Give Admin privileges{% endblock %}

{% block main %}
    <script>
        function checkEmail() {
            var email = document.getElementById('user_email').value;
            var email_list = {{email_list|safe}}
            if (email_list.includes(email)) {
                email_error.style.display = 'none';
                document.getElementById('give_admin').disabled = false;
                document.getElementById('remove_admin').disabled = false;
            } else {
                email_error.style.display = 'block';
                document.getElementById('give_admin').disabled = true;
                document.getElementById('remove_admin').disabled = true;
            }
        }

        function submitForm(action) {
            // Get the form element
            var form = document.getElementById('admin_form');
            
            // Set the action attribute based on the button clicked
            if (action === 'give_admin') {
                form.action = '/give_admin_privileges';
            } else if (action === 'remove_admin') {
                form.action = '/remove_admin_privileges';
            }
            
            // Submit the form
            form.submit();
        }
    </script>
    

<div class="give-admin-container">
    <form id="admin_form" method="post" action="/give_admin_privileges">
        <input type="text" name="user_email" id="user_email" placeholder="User email" oninput="checkEmail()"/>
        <input type="button" id="give_admin" value="Give admin" onclick="submitForm('give_admin')">
        <input type="button" id="remove_admin" value="Remove admin" onclick="submitForm('remove_admin')"><br>
        <span id="email_error" style="display: none">User email doesn't exist</span>
        <script> checkEmail(); </script>
    </form>



    <table class="admin-table">
        <thead>
            <tr>
                <th>User Email</th>
                <th>Admin Status</th>
            </tr>
        </thead>
        <tbody>
            {% for user in users %}
            <tr>
                <td>{{ user[0] }}</td>
                <td>{{ user[1] }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
