{% extends "base.html" %}

{% block content %}

    <ul> CONFIMREDDD
    <span>delivering to = {{ postcode }}</span> 
        {% for purchased_products in purchased_products %}
            <li class="product-item">

                <div class="product-details">
                    <a href="/electronics/product/{{ purchased_products[0] }}">
                        {{ purchased_products[1] }}
                    </a>
                    <br>
                    <div class="product-image">
                        <img src="{{ url_for('static', filename='images/' + purchased_products[10]) }}" width="100" height="100"/>
                    </div>
                    <div class="product-description">
                        Delivery time= {{ purchased_products[5] }} days
                    </div>
                </div>

                <div class="product-inputs">
                    <input id="price_hidden_{{ purchased_products[0] }}" type="hidden" value="{{ purchased_products[4] }}"/>
                    <input id="id_hidden_{{ purchased_products[0] }}" type="hidden" value="{{ purchased_products[0] }}"/>
                    <input id="prof_installation_hidden_{{ purchased_products[0] }}" type="hidden" value="{{ purchased_products[13] }}"/>
                </div>
            </li>
            <br>
        {% endfor %}
        
    </ul>


    

{% endblock %}

{% block js %}
    <script src=../../static/js/product-management.js></script>   
{% endblock %}
