{% extends "base.html" %}
{% block title %}Order Conformation{% endblock %}
{% block main %}

<div class="checkout-main-container">
    <div class="checkout-main-container__checkout-title">
        <span>Order Confirmation</span>
    </div>
    <div class="checkout-main-container__delivery-details">
        <span class="checkout-main-container__delivery-details__title">Delivering to:</span><br>
        <span>{{ delivery_info[2] }}</span><br>
        <span>{{ delivery_info[4] }}</span><br>
        <span>{{ delivery_info[1] }}</span><br>
    </div>
    <div class="checkout-main-container__product-list">
        {% set i = namespace(value=0) %}
        {% set product_index = namespace(value=0) %}
        {% for products in purchased_products %}

        <div class="checkout-main-container__product-list__product">
            <a href="/electronics/product/{{ products[0] }}">
                {{products[14]}} x {{ products[1] }}
            </a>

            <div class="product-description">
                Arrive on {{ delivery_date[i.value] }}
                <input id="price_hidden_{{ products[0] }}" type="hidden" value="{{ products[4] }}"/>
                <input id="id_hidden_{{ products[0] }}" type="hidden" value="{{ products[0] }}"/>
                <input id="prof_installation_hidden_{{ products[0] }}" type="hidden" value="{{ products[13] }}"/>
            </div>



        </div>
        <hr class="solid-divider"/>
        {% set i.value = i.value + 1 %}
        {% endfor %}
    </div>

    <div class="checkout-main-container__checkout-info">
        <form action="/orders" method="GET">
            <input class="button" type="submit" value="Go to orders"/>
        </form>
    </div>
<div class="checkout-main-container">


    

{% endblock %}

{% block js %}
    <script src=../../static/js/product-management.js></script>   
{% endblock %}
