{% extends "base.html" %}

{% block test %}
<link href="../../static/css/home-styles.css" rel="stylesheet" />
{% endblock %}

{% block product_page %}
<div class="product-page">
    <div class="product-details">
        <h1>{{product[1]}}</h1>
        <p>{{product[2]}} left!</p>
        <p>Category: {{product[3]}}</p>
        <p>Price: £{{product[4]}}</p>
        <p>{{product[5]}} day delivery </p>
        <p>Brand: {{product[6]}}</p>
        <p>Specification: {{product[7]}}</p>
        <p>Description: {{product[8]}}</p>

        <form action="/basket" method="post">
            <input type="number" id="quantity" name="quantity" value="1" placeholder="Quantity" oninput="calculateTotal()"/><br>
                <p>Professional installation
                    <input type="checkbox" name="installation" oninput="">
                </p>                
            <input type="submit" value="Add to Cart" />
                <span id="total">TOTAL = £{{product[4]}}</span>
        </form>
        <script>
            var price = {{product[4]}};
        </script>
    </div>
</div>
{% endblock %}

{% block js %}
<script src=../../static/js/product-management.js></script>       
{% endblock %}
